<!-- TOP BAR -->
<header class="topbar">
  <a href="/" class="logo">
    <img src="images/Logo_dark.png" alt="Devfolio" width="155" height="32" class="dark" />
    <img src="images/Logo_light.png" alt="Devfolio" width="155" height="32" class="light" />
  </a>

  <!-- Theme toggle button -->
  <button class="icon-btn theme-btn" (click)="toggleTheme()"> <!-- Angular event binding for theme switch -->
    <span class="material-symbols-outlined dark" aria-hidden="true">dark_mode</span>
    <span class="material-symbols-outlined light" aria-hidden="true">light_mode</span>
    <div class="state-layer"></div>
  </button>
</header>

<!-- HERO -->
<main>
  <article>
    <!-- HERO -->
    <section class="section hero">
      <div class="container">
        <figure class="hero-banner img-holder" style="--width: 240; --height: 240">
          <img src="images/profile.png" width="240" height="240" alt="Profile photo" class="img-cover" />
        </figure>

        <div class="hero-content">
          <span class="lable-lg section-subtitle">Web Developer</span>
          <h1 class="display-sm">John Doe</h1>
          <p class="body-lg section-text">
            A Web Developer and Beyond
          </p>

          <div class="btn-wrapper">
            <a class="chip">
              <span class="material-symbols-outlined" aria-hidden="true">
                mail
              </span>
              <span class="lable-lg">john.doe&#64;dev.com</span>
            </a>

            <a href="tel:+201125285475" class="chip">
              <span class="material-symbols-outlined" aria-hidden="true">
                call
              </span>
              <span class="lable-lg">+201125285475</span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- MAIN CONTENT -->
    <div class="article">
      <div class="about-card">
        <h2 class="card-title title-md">About</h2>

        <p class="body-md card-text">
          A passionate Front-End Developer, specialized in Angular framework with more than one year experience.
        </p>

        <ul class="about-list">
          <li class="list-item">
            <span class="material-symbols-outlined" aria-hidden="true">
              location_on
            </span>
            <span class="label-md">Cairo, Egypt</span>
          </li>

          <li class="list-item">
            <span class="material-symbols-outlined" aria-hidden="true">
              work
            </span>
            <span class="label-md">YAT Learning Solutions</span>
          </li>

          <li class="list-item">
            <span class="material-symbols-outlined" aria-hidden="true">
              captive_portal
            </span>
            <a class="label-md" href="https://johndoe.portfolio.com" target="_blank">https://johndoe.portfolio.com</a>
          </li>
        </ul>
      </div>

      <div>
        <!-- PRIMARY TABS -->
        <div class="primary-tabs">
          <button #tabBtn class="tab-btn active" data-tab-btn="project">
            <span class="tab-text title-small">Projects</span>
            <div class="state-layer"></div>
          </button>

          <button #tabBtn class="tab-btn" data-tab-btn="resume">
            <span class="tab-text title-small">Resume</span>
            <div class="state-layer"></div>
          </button>

          <button #tabBtn class="tab-btn" data-tab-btn="contact">
            <span class="tab-text title-small">Contact</span>
            <div class="state-layer"></div>
          </button>
        </div>

        <!-- Projects -->
        <div #tabContent data-tab-content="project" class="tab-content active">
          <section class="section" data-tab-content="project">
            <div class="container">
              <div class="project-list">
                <div class="card">
                  <figure class="card-banner imgholder" style="--width: 334; --height: 180">
                    <img src="images/project-1.png" alt="Pixstock - Stock Media App" class="img-cover" width="334"
                      height="180" />
                  </figure>
                  <div class="card-content">
                    <span class="lable-lg card-subtitle">Web App</span>

                    <h3 class="title-lg card-title">
                      Pixstock - Stock Media App
                    </h3>
                  </div>
                  <a href="#" class="state-layer"></a>
                </div>

                <div class="card">
                  <figure class="card-banner imgholder" style="--width: 334; --height: 180">
                    <img src="images/project-2.png" alt="Cook.io - Recipe App" class="img-cover" width="334"
                      height="180" />
                  </figure>
                  <div class="card-content">
                    <span class="lable-lg card-subtitle">Web App</span>

                    <h3 class="title-lg card-title">Cook.io - Recipe App</h3>
                  </div>
                  <a href="#" class="state-layer"></a>
                </div>

                <div class="card">
                  <figure class="card-banner imgholder" style="--width: 334; --height: 180">
                    <img src="images/project-3.png" alt="GitFinder - Github User Finder" class="img-cover" width="334"
                      height="180" />
                  </figure>
                  <div class="card-content">
                    <span class="lable-lg card-subtitle">Web App</span>

                    <h3 class="title-lg card-title">
                      GitFinder - Github User Finder
                    </h3>
                  </div>
                  <a href="#" class="state-layer"></a>
                </div>

                <div class="card">
                  <figure class="card-banner imgholder" style="--width: 334; --height: 180">
                    <img src="images/project-4.png" alt="Weatherio - Live Weather App" class="img-cover" width="334"
                      height="180" />
                  </figure>
                  <div class="card-content">
                    <span class="lable-lg card-subtitle">Web App</span>

                    <h3 class="title-lg card-title">
                      Weatherio - Live Weather App
                    </h3>
                  </div>
                  <a href="#" class="state-layer"></a>
                </div>

                <div class="card">
                  <figure class="card-banner imgholder" style="--width: 334; --height: 180">
                    <img src="images/project-5.png" alt="Tvflix - Netflix Clone 2.0" class="img-cover" width="334"
                      height="180" />
                  </figure>
                  <div class="card-content">
                    <span class="lable-lg card-subtitle">Web App</span>

                    <h3 class="title-lg card-title">
                      Tvflix - Netflix Clone 2.0
                    </h3>
                  </div>
                  <a href="#" class="state-layer"></a>
                </div>

                <div class="card">
                  <figure class="card-banner imgholder" style="--width: 334; --height: 180">
                    <img src="images/project-6.png" alt="Travelia - Travel Website" class="img-cover" width="334"
                      height="180" />
                  </figure>
                  <div class="card-content">
                    <span class="lable-lg card-subtitle">Web App</span>

                    <h3 class="title-lg card-title">
                      Travelia - Travel Website
                    </h3>
                  </div>
                  <a href="#" class="state-layer"></a>
                </div>
              </div>
            </div>
          </section>
        </div>

        <!-- Resume -->
        <div #tabContent data-tab-content="resume" class="tab-content">
          <section class="section resume-tab" data-tab-content="resume">
            <div class="container">
              <h2 class="section-title title-sm">Experience</h2>

              <ul class="list">
                <li class="resume-item">
                  <div class="resume-card">
                    <p class="body-lg">
                      Software Engineer, TechGulf Solutions
                    </p>
                    <span class="label-md card-subtitle">2018 - Present</span>
                    <span class="body-md card-text">
                      Led the development of a customer management system,
                      resulting in improved efficiency and streamlined
                      processes.
                    </span>
                  </div>
                </li>

                <li class="resume-item">
                  <div class="resume-card">
                    <p class="body-lg">
                      Software Developer Intern, ByteOasis Corporation
                    </p>
                    <span class="label-md card-subtitle">2016 - 2017</span>
                    <span class="body-md card-text">
                      Assisted in the development and testing of a mobile
                      application for internal use.
                    </span>
                  </div>
                </li>
              </ul>

              <h2 class="section-title title-sm">Education</h2>
              <ul class="list">
                <li class="resume-item">
                  <div class="resume-card">
                    <p class="body-lg">
                      Certification in Web Development with React.js
                      (FreeCodeCamp Certification)
                    </p>
                    <span class="label-md card-subtitle">2015 - 2016</span>
                  </div>
                </li>

                <li class="resume-item">
                  <div class="resume-card">
                    <p class="body-lg">
                      Relevant Coursework: Data Structures, Algorithms,
                      Database Management
                    </p>
                    <span class="label-md card-subtitle">2014 - 2013</span>
                  </div>
                </li>

                <li class="resume-item">
                  <div class="resume-card">
                    <p class="body-lg">
                      Bachelor of Science in Computer Science, Alexandria
                      University
                    </p>
                    <span class="label-md card-subtitle">2010 - 2014</span>
                  </div>
                </li>
              </ul>

              <h2 class="section-title title-sm">Skills and Technologies</h2>
              <ul class="resume-bottom-list">
                <li class="resume-bottom-item">
                  <img src="images/html5.svg" alt="HTML5" width="28" height="28" loading="lazy" class="icon" />
                  <span class="label-md">HTML5</span>
                </li>
                <li class="resume-bottom-item">
                  <img src="images/css3.svg" alt="CSS3" width="28" height="28" loading="lazy" class="icon" />
                  <span class="label-md">CSS3</span>
                </li>
                <li class="resume-bottom-item">
                  <img src="images/javascript.svg" alt="Javascript" width="28" height="28" loading="lazy"
                    class="icon" />
                  <span class="label-md">Javascript</span>
                </li>
                <li class="resume-bottom-item">
                  <img src="favicon.ico" alt="Angular" width="28" height="28" loading="lazy" class="icon" />
                  <span class="label-md">Angular</span>
                </li>
                <li class="resume-bottom-item">
                  <img src="images/node.js.svg" alt="Node.js" width="28" height="28" loading="lazy" class="icon" />
                  <span class="label-md">Node.js</span>
                </li>
                <li class="resume-bottom-item">
                  <img src="images/github.svg" alt="GitHub" width="28" height="28" loading="lazy" class="icon" />
                  <span class="label-md">GitHub</span>
                </li>
                <li class="resume-bottom-item">
                  <img src="images/mongoDB.svg" alt="MongoDB" width="28" height="28" loading="lazy" class="icon" />
                  <span class="label-md">MongoDB</span>
                </li>
                <li class="resume-bottom-item">
                  <img src="images/VS_code.svg" alt="VS Code" width="28" height="28" loading="lazy" class="icon" />
                  <span class="label-md">VS Code</span>
                </li>
              </ul>
            </div>
          </section>
        </div>

        <!-- Contact -->
        <div #tabContent data-tab-content="contact" class="tab-content">
          <section class="section contact-tab" data-tab-content="contact">
            <div class="container">
              <div class="contact-info">
                <h4 class="section-title title-sm">Contact Info</h4>

                <ul class="contact-info-list">
                  <li class="contact-info-item">
                    <div class="icon-box">
                      <span class="material-symbols-outlined" aria-hidden="true">
                        mail
                      </span>
                    </div>
                    <div class="info-content">
                      <p class="label-sm info-title">Mail</p>
                      <a href="mailto:john.doe@dev.com" class="label-sm info-text">
                        john.doe&#64;dev.com
                      </a>
                    </div>
                  </li>

                  <li class="contact-info-item">
                    <div class="icon-box">
                      <span class="material-symbols-outlined" aria-hidden="true">
                        call
                      </span>
                    </div>
                    <div class="info-content">
                      <p class="label-sm info-title">Contact</p>
                      <a href="tel:+201125285475" class="label-sm info-text">
                        +201125285475
                      </a>
                    </div>
                  </li>

                  <li class="contact-info-item">
                    <div class="icon-box">
                      <span class="material-symbols-outlined" aria-hidden="true">
                        location_on
                      </span>
                    </div>
                    <div class="info-content">
                      <p class="label-sm info-title">Address</p>
                      <span class="label-sm info-text">
                        Cairo, Egypt
                      </span>
                    </div>
                  </li>
                </ul>

                <h4 class="title-sm">Social Info</h4>

                <div class="social-list">
                  <a href="https://www.facebook.com" target="_blank" class="social-item">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                  <a href="https://www.instagram.com" target="_blank" class="social-item">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                  <a href="https://www.x.com" target="_blank" class="social-item">
                    <i class="fa-brands fa-x-twitter"></i>
                  </a>
                  <a href="https://www.github.com" target="_blank" class="social-item">
                    <i class="fa-brands fa-github"></i>
                  </a>
                  <a href="https://www.linkedin.com" target="_blank" class="social-item">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                </div>
              </div>

              <div class="contact-form">
                <h3 class="title-lg">Let's Work Together</h3>
                <form class="input-wrapper" method="post">
                  <input type="text" name="name" placeholder="Name*" required class="input-field" />
                  <input type="email" name="email" placeholder="Email*" required class="input-field" />
                  <input type="text" name="subject" placeholder="Subject" class="input-field" />
                  <textarea name="message" placeholder="Message*" required class="textarea"></textarea>

                  <button class="btn" type="submit">
                    <span class="lable-lg">Send Message</span>
                    <div class="state-layer"></div>
                  </button>
                </form>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </article>
</main>

<!-- FOOTER -->
<footer class="footer">
  <div class="container">
    <p class="body-md">All right reserved</p>
    <p class="body-lg lable-lg">
      DEVFOLIO &copy; <span class="year"> {{ currentYear }}</span>
    </p>
    <p class="body-md">Made with love and Angular</p>
  </div>
</footer>

<router-outlet />
